api.perform-learn.fr {
	reverse_proxy app:3000
}

s3.perform-learn.fr {
	reverse_proxy minio:9000
}

minio.perform-learn.fr {
	reverse_proxy minio:9001
}

analytics.perform-learn.fr {
	reverse_proxy umami:3000
}

monitor.perform-learn.fr {
	reverse_proxy netdata:19999
}

perform-learn.fr {
	root * /srv
	file_server
}

www.perform-learn.fr {
	redir https://perform-learn.fr{uri} permanent
}
